.search-bar {
    height: 35px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 75px;
    background: rgb(237, 237, 237);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.search-bar:focus {
    background-color: inherit;
    border-bottom: 1px solid black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.search-icon {
    display: none;
}
.sm-search-bar-on {
    display: none ;
}
.sm-search-bar-off {
    display: none ;
}

.search-bar-on {
    position: absolute; 
    display: flex;
    justify-content: end;
    column-gap: 10px;
    width: fit-content;
    right: 10px;
    top: 0px;
    padding-block: 4px;
    border-radius: 10px;
    opacity: 100%;
    transition-duration: 0.5s;
    z-index: 1;
}
.search-bar-off {
    position: absolute; 
    display: flex;
    justify-content: end;
    column-gap: 10px;
    width: fit-content;
    right: 10px;
    top: 0px;
    padding-block: 4px;
    border-radius: 10px;
    opacity: 0%;
    transition-duration: 0.5s;
    z-index: 1;
}
@media (max-width: 900px) { 
    .search-bar-on {
        position: absolute; 
        display: flex;
        justify-content: end;
        column-gap: 10px;
        width: fit-content;
        right: 10px;
        top: 0px;
        padding-block: 4px;
        border-radius: 10px;
        opacity: 100%;
        transition-duration: 0.5s;
        z-index: 1;
    }
    .search-bar-off {
        position: absolute; 
        display: flex;
        justify-content: end;
        column-gap: 10px;
        width: fit-content;
        right: 10px;
        top: 0px;
        padding-block: 4px;
        border-radius: 10px;
        opacity: 0%;
        transition-duration: 0.5s;
        z-index: 1;
    }
    .cancel-btn {
        color: white;
        background: red;
    }
}

@media (max-width: 600px) { 
    .sm-search {
        position: absolute; 
        display: flex;
        justify-content: end;
        column-gap: 10px;
        width: fit-content;
        right: 50px;
        top: 10px;
        padding-block: 4px;
        border-radius: 10px;
        opacity: 100%;
        transition-duration: 0.5s;
        z-index: 1;
    }
    .search-bar-on {
        display: none;
    }
    .search-bar-off {
        display: none;
    }
    .sm-search-bar-on {
        padding-block: 10px;
        top: 60px;
        right: 20px;
        position: absolute; 
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background: rgb(237, 237, 237);
        opacity: 100%;
        transition-duration: 0.5s;
        width: 100%;
        z-index: 1;

    }
    .sm-search-bar-off {
        padding-block: 10px;
        top: 60px;
        right: 20px;
        position: absolute;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background: rgb(237, 237, 237);
        opacity: 0;
        transition-duration: 0.5s;
        width: 100%;
        z-index: -1;
    }
    .sm-search-bar-off input {
        height: 35px;
        border-radius: 10px;
        padding-left: 20px;
        background: rgb(237, 237, 237);
        -webkit-transition: 0.5s;
        transition: 0.5s;
        width: 75%;
        margin-inline: auto;
        outline : auto;
        transition-duration: 0.5s;
    }
    .sm-search-bar-on input {
        height: 35px;
        border-radius: 10px;
        padding-left: 20px;
        background: rgb(237, 237, 237);
        -webkit-transition: 0.5s;
        transition: 0.5s;
        width: 75%;
        margin-inline: auto;
        outline : auto;
        transition-duration: 0.5s;
    }
    .search-bar {
        display: none;
    }
    .search-icon {
        display: block;
    }
}