.filters {
    width: 20%;
    height: 800px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 20px;
}
.style {
    width: 80%;
    height: 800px;
    background: blue;
}


/* --------------------------------------------- slider */

.slider {
    position: relative;
    height: 5px;
    border-radius: 5px;
    background: #ddd;
}

.slider .progress {
    position: absolute;
    height: 5px;
    border-radius: 5px;
    background: black;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    height: 5px;
    top: -5px;
    width: 100%;
    pointer-events: none;
    background: none;
    appearance: none;
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    appearance: none;
    -webkit-appearance: none;
    background: black;
}

input[type='range']::-moz-slider-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: black;
}


.color {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    cursor: pointer;
    background-color: white;
    border: 2px solid white;
    transition-duration: .2s;
}
.color div {
    border: .5px solid rgb(209, 209, 209);
    height: 28px;
    width: 28px;
    border-radius: 100%;
    cursor: pointer;
}

.color:hover {
    border: 2px solid black;  
    transition-duration: .2s;
}

.size {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 100%;
    cursor: pointer;
    background-color: white;
    border: 2px solid white;
    transition-duration: .2s;
}
.size:hover {
    border: 2px solid black;
    transition-duration: .2s;
}

.size h2 {
    background-color: black;
    color: white;
    font-size: 14px;
    width: 36px;
    height: 36px;
    text-align: center;
    padding: 8px 2px;  
    border-radius: 100%;
    cursor: pointer; 
}

.selected {
    border: 2px solid black;  
}



